//params {
//  reference_gtf = "${projectDir}/genomes/hybrid_1933.gtf.gz"
//  }

process {
  resourceLimits = [
    cpus: 12,
    memory: 64.GB,
  ]
}

// Enable docker so we can use containers as modules for each tool
podman {
    enabled = true
    // runOptions = '-u $(id -u):$(id -g)' // Ensures the container runs with the same user ID as the host
}